form {
    padding: 1rem;
    input[type=text]{
        padding-left: 20px;
    }
}
section.word {
    font-size: 2rem;
    padding: 20px ;
}
.hangman-part {
    padding-left: 90px;
    &.hangman-part-2{
        padding-left: 83px;
    }
}